receivers:
  otlp:
    protocols:
      grpc:
      http:
 
processors:
  batch:
 
exporters:
  otlp:
    endpoint: jaeger:4317
    tls:
      insecure: true
  awsxray:
    region: "ap-northeast-1"
    local_mode: false
 
extensions:
  health_check:
  pprof:
  zpages:
 
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp, awsxray]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]