receivers:
  otlp:
    protocols:
      grpc:
      http:
  hostmetrics:
    collection_interval: 10s
    scrapers:
      - cpu
      - memory
      - disk
      - processes

processors:
  batch:
 
exporters:
  otlp:
    endpoint: jaeger:4317
    tls:
      insecure: true
  awsxray:
    region: "ap-northeast-1"
    local_mode: false
  awscloudwatch:
    namespace: "OpenTelemetry/Flask"
    metric_expiration_time: 15m
    resource_filters:
      - prefix: service.name
 
extensions:
  health_check:
  pprof:
  zpages:
 
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp, awsxray]
    metrics:
      receivers: [otlp, hostmetrics]
      processors: [batch]
      exporters: [otlp, awsxray, awscloudwatch]